{% extends "layout.html.twig" %}



{% block main %}

    <form>

    <div class="homelabel">
        Identifiant :
    </div>
    <div class="homelabel">
        Mot de passe:
    </div>
        <input type="submit" class="button" value="Connexion">
        <input type="checkbox" value="Se souvenir de moi">
        <a href="">Mot de passe oublié?</a>

    </form>


{%  endblock %}