{% extends "layout.html.twig" %}



{% block main %}



    <!--
    <form>
    <div class="homelabel">
        Identifiant :
        <input type="text" placeholder="superZorro">
    </div>
    <div class="homelabel">
        Mot de passe :
        <input type="text" placeholder="Maxi mot de passe inviolable">
    </div>

        <input type="button" class="button" value="Connexion">

        <input type="checkbox" value="Se souvenir de moi">Se souvenir de moi



        <a href="">Mot de passe oublié?</a>

    </form>


{%  endblock %}