{% extends "layout.html.twig" %}


{% block menu %}

{% endblock %}

{% block logo %}
    <div class="animatedlogo">SORTEZ VOUS LES DEVS DU CUL</div>
    <a href="{{ path("app_login") }}"><div class="stepin"> Accéder au site</div></a>
{% endblock %}


{% block welcome %}
<!--<img class="witch" src="{{ asset("img/witchcraft.png") }}"-->

{% endblock %}

{% block footer %}
    <div class="animatedfooter">
        <div class="authors">Made by Samy, Laetitia, Raphael & Kevin</div>
        <div class="copyrights"> &copy {{ "now"|date("Y") }}</div>
    </div>
{% endblock %}