{% extends "layout.html.twig" %}





{% block main %}
    <!-- Welcome page when not connected -->

    <div><img class="homeimg" src="{{ asset("img/login.svg") }}"></div>
    
    
    <div> Bienvenu sur Sortir.com, le site d'organisation d'évènements entre étudiants ENI.
    </div>




    <!-- This part contain the form where user log (credentials)-->

            <a href="{{ path('app_login') }}"><input type="button" class="homebutton" value="Accéder au site !"></a>




{% endblock %}