/* Variables */
:root {
    --main-background-color: #005AA7;
    --second-background-color: #2c3e50;
    --third-background-color: #ecf0f1;
    --first-font-family: 'Lobster', cursive;
    --second-font-family: 'Amatic SC', cursive;
}


/*
 *
 *HTML basics
 */

body {
    background-color: var(--second-background-color);
    font-family: var(--second-font-family);
    color: var(--main-background-color);
}

a {
    text-decoration: none;
}

button {
    background-color: var(--second-background-color);
    font-family: var(--first-font-family);
    border-radius: 30px;
    height: 60px;
    width: 150px;
    margin: 20px;
    color: var(--third-background-color);

}

/*
 *
 *Twig blocks
 */


/*Logo block */
.logoblock {
    text-align: center;
    font-family: var(--first-font-family);
    font-size: 160px;
    font-weight: bold;
}

.logoanimation {
    animation: logoanimation 4s;
}

.logo {
    color: var(--third-background-color);
}

/* Main block */
.mainblock {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border: solid 3px black;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: var(--third-background-color);
}

/*Footer block */
.footerblock {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 30px;
    font-family: var(--first-font-family);
    color: var(--third-background-color);
}

.menublock {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.menubutton {
    background-color: var(--third-background-color);
    height: 50px;
    width: 200px;
    border: solid 3px black;
    border-radius: 30px;
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
}

/*
*
* Home page
*
*/

.homelabel {
    font-family: var(--second-font-family);
    color: var(--main-background-color);
    padding: 20px;
    text-align: center;
}
.homebuttons {
    padding: 20px;
}
.credentials {
}

.homebutton {
    background-color: var(--second-background-color);
    font-family: var(--first-font-family);
    font-size: large;
    color: var(--third-background-color);
    border-radius: 30px;
    height: 60px;
    width: 150px;
    margin: 20px;
}

.homeimg {
    height: 250px;
}

/*
*
* Create User page
*
*/

.forminput {
    border-radius: 30px;
    background-color: var(--main-background-color);
}

.formlabel {
    font: var(--first-font-family);
    color: var(--main-background-color);
    padding-top: 20px;
}

.profilbuttons {
    padding: 50px;
}


/* Keyframes and animations */
@keyframes logoanimation {
    from {
        transform: translateY(-400px);
    }
    to {
        transform: translate(0px);
    }
}
