<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <title>Bienvenue sur Sortir.com !</title>
</head>
<body>


{% block logo %}
    <div class="logo">
        <div class="logoanimation">Sortir.com</div>
    </div>
{% endblock %}



<!-- Menu -->
<div class="menu">
{% block menu %}
        <a class="menubutton" href="http://www.google.com">Bouton test</a>
        <a class="menubutton" href="http://www.google.com">Bouton test</a>
        <a class="menubutton" href={{ path('events') }}>Test Evènements</a>
    </div>
{% endblock %}
</div>


<!-- Main part of the page that will be edited  -->
<div class="main">
{%  block main %}
{% endblock %}
</div>



<!-- Footer part  -->
{% block footer %}
    <div class="footer">
        <div class="authors">Made by Samy, Laetitia, Raphael & Kevin</div>
        <div class="copyrights"> &copy {{ "now"|date("Y") }}</div>
    </div>
{%  endblock %}




</body>
</html>