<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <title>Bienvenue sur Sortir.com !</title>
</head>
<body>


{% block logo %}
    <div class="logoblock">
        <div class="logoanimation">
            <a href={{ path('index') }}>
                <div class="logo"> Sortir.com</div>
            </a>
        </div>
    </div>
{% endblock %}


<!-- Menu -->
<div class="menublock">
    {% block menu %}
    {% if app.user %}
        <a class="menubutton" href="http://www.google.com">Bouton test</a>
        <a class="menubutton" href="http://www.google.com">Bouton test</a>
        <a class="menubutton" href={{ path('events') }}>Test Evènements</a>
        <a class="menubutton" href={{ path('profil_add') }}>Enregistrer un utilisateur</a>
    {% endif %}
</div>
{% endblock %}
</div>


<!-- Main part of the page that will be edited  -->
<div class="mainblock">
    {% block main %}
    {% endblock %}
</div>


<!-- Footer part  -->
{% block footer %}
    <div class="footerblock">
        <div class="authors">Made by Samy, Laetitia, Raphael & Kevin</div>
        <div class="copyrights"> &copy {{ "now"|date("Y") }}</div>
    </div>
{% endblock %}


</body>
</html>