{%  extends "layout.html.twig" %}


{%  block main %}



    <div class="formlabel">
        Pseudonyme
    </div>
    <div class="forminput">
        {{ form_widget(userForm.username) }}
    </div>








{%  endblock  %}