{% extends "layout.html.twig" %}

{% block main %}



    <div class="formlabel">
        Saisir le label ici
    </div>


    <div class="forminput">
        Saisir le widget ici
    </div>










{% endblock %}





